Package: hilink-tray
Version: 4.1.1
Section: admin
Maintainer: Wasylews <ua.wasylews@gmail.com>
Architecture: all
Depends: python (>= 2.7), python-pyside
Description: hilink-tray is program
 Displays signal level in a tray at Huawei modems on HiLink firmware
